  body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
      /*Estilos para el formulario*/
    form {
      max-width: 300px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
      /*Estilos para los campos de texto, correo electrónico y botón de envío*/
    input[type="text"],
    input[type="email"],
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 16px;
    }
      /*Estilos para el botón de envío*/
    button[type="submit"] {
      background-color: #3085d6;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
      /*Estilos para el botón de envío al pasar el cursor por encima*/
    button[type="submit"]:hover {
      background-color: #1f5aa8;
    }